/* Анимация появления элементов */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    /* Начальное состояние */
    to {
        opacity: 1;
        transform: translateY(0);
    }
    /* Конечное состояние */
}

/* Применение анимации к дочерним элементам main */
main > * {
    animation: fadeIn 0.5s ease forwards; /* Анимация появления */
}