<!DOCTYPE html>
<html lang="eng">
<head>
    <!-- Базовые настройки документа -->
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico"><!-- Добавление иконки сайта -->
    <meta charset="UTF-8"> <!-- Кодировка UTF-8 для поддержки всех символов -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Адаптивность для мобильных устройств -->
    <title>Film Advisor</title> <!-- Заголовок страницы в браузере -->

    <!-- Подключение внешних ресурсов -->
    <link rel="stylesheet" href="/static/css/main.css"> <!-- Основной файл стилей -->
    <script src="/static/js/scripts.js" defer></script> <!-- Скрипты с атрибутом defer (загружаются после HTML) -->
</head>

<!-- Основная часть страницы с классом для темы (по умолчанию светлая) -->
<body class="light-theme">
<!-- Шапка сайта -->
<header>
    <div class="header-container">
        <h1>FILM ADVISOR</h1> <!-- Логотип/название сайта -->

        <!-- Навигационное меню -->
        <nav>
            <a href="/">Home</a> <!-- Ссылка на главную страницу -->
            <a href="/users/1/recommendations">Recommendations</a> <!-- Ссылка на рекомендации -->

            <!-- Выпадающее меню "Library" -->
            <div class="dropdown">
                <a href="#" class="nav-link" id="library-link" style="line-height: 42px">Library</a>
                <!-- Кнопка-триггер -->
                <div class="dropdown-content">
                    <!-- Подпункты меню -->
                    <a href="/users/1/interactions/">All</a> <!-- Все фильмы -->
                    <a href="/users/1/interactions/watched">Watched</a> <!-- Просмотренные -->
                    <a href="/users/1/interactions/liked">Liked</a> <!-- Понравившиеся -->
                    <a href="/users/1/interactions/want_to_watch">Want to watch</a> <!-- Желаемые к просмотру -->
                    <a href="/users/1/interactions/dropped">Dropped</a> <!-- Брошенные -->
                    <a href="/users/1/interactions/watching">Watching</a> <!-- Сейчас смотрятся -->
                </div>
            </div>

            <!-- Кнопка переключения темы (светлая/тёмная) -->
            <button class="theme-toggle">🌓</button>
        </nav>
    </div>
</header>

<!-- Основное содержимое страницы -->
<main>
    {% block content %}{% endblock %} <!-- Блок для динамического контента (заполняется в дочерних шаблонах) -->
</main>

<!-- Подвал сайта -->
<footer>
    <p>© 2025 Film Advisor. All rights reserved.</p> <!-- Копирайт -->
</footer>
</body>
</html>