<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Advisor</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/scripts.js" defer></script>
</head>
<body class="light-theme">
    <header>
        <div class="header-container">
            <h1>FILM ADVISOR</h1>
            <nav>
                <a href="/">Главная</a>
                <a href="/recommendations">Рекомендации</a>
                <div class="dropdown">
                    <a href="#" class="nav-link" id="library-link" style="line-height: 42px">Библиотека</a>
                    <div class="dropdown-content">
                        <a href="/users/1/interactions/watched">Просмотрено</a>
                        <a href="/users/1/interactions/liked">Понравилось</a>
                        <a href="/users/1/interactions/want_to_watch">Хочу посмотреть</a>
                        <a href="/users/1/interactions/dropped">Брошено</a>
                        <a href="/users/1/interactions/watching">Смотрю</a>
                    </div>
                </div>
                <button class="theme-toggle">🌓</button>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 Film Advisor. Все права защищены.</p>
    </footer>
</body>
</html>