{% extends 'base.html' %}
{% block content %}
<div class="hero">
    <h1>Ваша библиотека</h1>
    <p>Все фильмы, которые вы добавили в свою коллекцию</p>
</div>

{% if interactions %}
<ul>
    {% for interaction in interactions %}
    <li class="movie-card">
        <div class="movie-title">{{ interaction.movie.title }}</div>
        <div class="movie-info">
            <div class="movie-year">Год: {{ interaction.movie.year or 'не указан' }}</div>
            <div class="movie-rating">IMDB: {{ interaction.movie.rating_imdb or 'не указан' }}</div>
        </div>
        <div class="movie-genres">
            {% for genre in interaction.movie.genres %}
            <span class="genre-tag">{{ genre }}</span>
            {% endfor %}
        </div>
        <span class="status-tag status-{{ interaction.status.value }}">{{ interaction.status.value }}</span>
        <div class="movie-description">{{ interaction.movie.description or 'Описание отсутствует' }}</div>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>У вас пока нет взаимодействий.</p>
{% endif %}
{% endblock %}